<%= form_with(model: termo) do |form| %>
  <% if termo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(termo.errors.count, "error") %> prohibited this termo from being saved:</h2>

      <ul>
        <% termo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :titulo, style: "display: block" %>
    <%= form.text_field :titulo, autofocus: true %>
  </div>

  <div>
    <%= form.label :descricao, style: "display: block" %>
    <%= form.text_field :descricao %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
