<div>
  <%= link_to "Edit this termo", edit_termo_path(@termo) %> |
  <%= link_to "Back to termos", termos_path %>
  <%= button_to "Destroy this termo", @termo, method: :delete, id: "delete-button" %>
</div>
<div >
  <p>
    <strong>Titulo:</strong>
    <%= @termo.titulo %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= @termo.descricao %>
  </p>

</div>


<script>
document.addEventListener("DOMContentLoaded", function() {
  var deleteButton = document.getElementById('delete-button');
  if (deleteButton) {
    deleteButton.addEventListener('click', function(event) {
      event.preventDefault(); // Prevenir a submissão do formulário
      var confirmAction = confirm("Você tem certeza que deseja excluir este termo?");
      if (confirmAction) {
        // Submeter o formulário se a confirmação for positiva
        event.target.form.submit();
      }
    });
  }
});
</script>